.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background: var(--ion-color-primary);
}

.app-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

