ion-card{
    border-radius: 15px; 
    padding: 10px;
    min-height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.169)
}

ion-card:hover{
    cursor:pointer; 
    background: var(--ion-color-light);
}

.title{
    font-size: 18px; 
    font-weight: bold; 
    padding-top: 10px; 
    line-height: 20px;
}

.task-btn{
    width: 126px; 
    height: 35px;
}
.task-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}